 <div class="m-md-4 text-center bg-light shadow intro">
    <div class="p-lg-5 mx-auto my-5">
      <h1 class="display-3 fw-bold">Hello my name is <span class="intro__name">Frank</span></h1>
      <p class="lead fw-normal">I am a Software developer and I work on cool web applications among other stuff</p>
    </div>
  </div>
</div>