<nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark shadow"  aria-label="Main navigation">
  <div class="container-fluid ">
    <a class="navbar-brand" href="#"><img src="img/icon/favicon-32x32.png" alt="favicon" srcset="img/icon/favicon-32x32.png"></a>
    <button class="navbar-toggler p-0 border-0" type="button" id="navbarSideCollapse" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="navbar-collapse offcanvas-collapse" id="navbarsExampleDefault">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link" href="#">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Portfolio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Contact</a>
        </li>
      </ul>
    </div>
  </div>
</nav>


<main class="container">
{{> intro}}
<figure class="text-center">
  <blockquote class="blockquote">
    <h2 class="pb-2 border-bottom divider mx-2">Portfolio</h2>
  </blockquote>
  <figcaption class="blockquote-footer">
    </cite>Latest Projects</cite>
  </figcaption>
</figure>

{{> portfolio}}
{{!-- 
<h2 class="pb-2 border-bottom">Columns with icons</h2>
{{> reviews}}
{{> about}}
<h2 class="pb-2 border-bottom divider">Send me an email or contact me on social media </h2>
{{> form}}

{{> footer }} --}}
</main>
